<div>
    <svg width="500" height="200">
        <!--
            Path is considered the most powerful shape, as it can
            be any shape and is thus the most complicated

            d attribute is short for data,
            Think of the d attribute as a digital pen that you can draw
            from one point to the next and has many commands, straight lines, rounded
            etc...

            our SVG always starts at the (0,0) coordinate which is the top left coordinate.
                d="M" => says move the pen to a different starting point, in this case it's (100,100)
                d="L" => Short for line, draw a line to a coordinate
        -->
        <path d="M100,100 L300,150" fill="none" stroke="#000" stroke-width="10"></path>
    </svg>
</div>
